.detail-text-container {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    /* border: 1px solid black; */
}

.details-content-container {
    display: flex;
    flex-direction: column;
    /* gap: 30px; */
}

.details-content-container-heading {
    margin-bottom: 30px;
}

.details-content-container-heading1 {
    margin-bottom: 30px;
}

.details-content-container-heading1 p {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: center;
    font-family: "Nunito Sans";
    text-align: start;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 0px !important;

    font-weight: 400;

}

.details-content-container-heading h1 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: center;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--line-height-59, 59px);
    margin-bottom: 0px !important;

    /* 122.917% */
}

.details-content-container-heading h2 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 0px !important;

    line-height: 48px;
    /* 150% */
    text-align: left;
}

.details-content-container-heading h4 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0px !important;

    /* 200% */
    text-align: left;
}

.details-content-container-heading h1 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: left;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--line-height-59, 59px);
    margin-bottom: 0px !important;

    /* 122.917% */
}

.details-content-container-heading1 h2 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 0px !important;

    /* 150% */
}

.details-content-container-heading1 h4 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    margin-bottom: 0px !important;

    /* 200% */
}