.services-card-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.services-card{
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-radius: 20px;
    
border: var(--stroke-weight-1, 1px) solid var(--Drak-Grey, #717171);
}

.services-card-box{
    width: 43%;
    padding: 20px;
}


.services-card-box h2{
    color: var(--Boss-Black, var(--color-grey-7, #111));
font-family: "Nunito Sans";
font-size: 32px;
font-style: normal;
font-weight: 600;
line-height: 48px; /* 150% */
letter-spacing: 0.5px;
}

.services-card-box h4{
    color: var(--Boss-Black, var(--color-grey-7, #111));
text-align: justify;
font-family: "Nunito Sans";
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 27px; /* 150% */
letter-spacing: 0.5px;
}
.services-card-box-image{
    width: 45%;
    display: flex;
    justify-content: center;
}

.services-card-box-image img{
    width: 100%;
    object-fit: cover;
}

