.soucing-text-continaer {
    width: 80%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 40px;
}

.souncing-text-content {
    display: flex;
    flex-direction: column;
}

.souncing-text-content h1 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: left;
    font-family: "Nunito Sans";
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: var(--line-height-59, 59px);
    /* 122.917% */
}

.souncing-text-content-text h2 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px;
    margin-top: 30px;
    margin-bottom: 5px;
    /* 150% */
}

.souncing-text-content-text h3 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 200% */
}

.souncing-text-content-text h4 {
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 48px;
    /* 200% */
}

.souncing-text-content-text button {
    display: flex;
    padding: var(--Spacing-spacing-150, 12px) 24px;
    justify-content: center;
    align-items: center;
    gap: var(--Clock1-Time-Hour-1, 6px);
    border-radius: 10px;
    border: var(--stroke-weight-1, 1px) solid var(--Boss-White, #F8F8F8);
    background: var(--Boss-White, #F8F8F8);
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
    color: var(--Boss, #7B0801);
    text-align: center;
    font-family: "Nunito Sans", sans-serif !important;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 40px;
    margin-bottom: 40px;
}

.souncing-text-content-text button:hover {
    background-color: #7B0801;
    color: white;
    border: var(--stroke-weight-1, 1px) solid var(--Boss-White, #7B0801);

}

.souncing-text-content-text a {
    color: var(--Boss, #7B0801);
    text-align: justify;
    font-family: "Nunito Sans";
    font-size: 28px;
    font-style: italic;
    font-weight: 700;
    line-height: 110px;
    /* 150% */
    margin-top: 40px;
    text-decoration-line: underline;
}


@media (max-width:768px) {
    .souncing-text-content h1 {
        font-size: 30px;
        line-height: 36px;
    }

    .souncing-text-content-text h3 {
        font-size: 16px;
        line-height: 30px;
    }


    .souncing-text-content-text h4 {
        font-size: 16px;
        line-height: 30px;
    }

    .souncing-text-content-text h2 {
        font-size: 18px;
    }

    .souncing-text-content-text button {
        font-size: 16px;
    }

    .souncing-text-content-text a {
        line-height: 54px;
        font-size: 18px;

    }
}