.example-text-continer{
    width: 80%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

.example-text-continer-content{
    display: flex;
    flex-direction: column;
}

.example-text-continer-content-upper h1{
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
text-align: left;
font-family: "Nunito Sans";
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: var(--line-height-59, 59px); /* 122.917% */
}

.example-text-continer-content-upper h4{
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
text-align: justify;
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 48px; /* 200% */
}

.example-text-continer-content-lower h2{
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
    text-align: left;
    font-family: "Nunito Sans";
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 48px; /* 150% */
}



.example-text-continer-content-lower h4 .span-text{
    color: var(--www-independentrecruiters-nl-ebony-clay, var(--color-azure-18, #24303A));
font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 48px;
}

