


* {
    box-sizing: border-box;
  }
  
  body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hero-section1 {
    background-image: url('../../public/images/Home.png'); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
  }
  
  .hero-content1 {
    padding: 40px;
    border-radius: 10px;
    text-align: left;
    max-width: 800px;
    color: white;
  }
  
  .hero-content1 h1 {
    color: var(--Boss-White, #F8F8F8);
font-family: "Nunito Sans";
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 115.385% */
  }
  
  .hero-content1 h2 {
    color: var(--Boss-White, #F8F8F8);
    text-align: left;
font-family: "Nunito Sans";
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 36px; /* 150% */
  }
  
  .search-bar {
    display: flex;
    gap: 10px;
  }
  
  
  
  .search-button {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: var(--radius-10, 10px);
border: var(--stroke-weight-1, 1px) solid var(--Boss-White, #F8F8F8);
background: var(--Boss-White, #F8F8F8);
box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.20), 0px 9px 12px 0px rgba(0, 0, 0, 0.14), 0px 3px 16px 0px rgba(0, 0, 0, 0.12);
  }




  .search-input h4{
    color: var(--Boss, #7B0801);
text-align: center;
font-family: "Nunito Sans";
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin: 0%;
    padding: 0%;
  }

  .search-button:hover{
    background-color: #7B0801;
    color: white;
  }

  .search-button:hover svg >path{

    stroke: #F8F8F8;
    cursor: pointer;
}
  
  /* .search-button:hover {
    background-color: #0056b3;
  } */
  
  @media (max-width: 768px) {

    .hero-section{
        height: 60vh;
    }
    .hero-content {
      max-width: 100%;
      
      padding: 20px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    .search-bar {
      flex-direction: column;
    }
  
    .search-input {
      width: 100%;
    }
  }
  