.notice-processure-container{
    background-image: url('../../public/images/Home2.png'); /* Replace with the actual image path */
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    padding: 20px;
    margin-top: 60px;
    
}

.notice-container-content{
     padding-left: 10%;
}


.notice-container-content1 h1{
    color: var(--Boss-White, #F8F8F8);
font-family: Nunito;
font-size: 52px;
font-style: normal;
font-weight: 700;
line-height: 60px; /* 115.385% */
margin-top: 60px;
margin-bottom: 40px;
}

@media (max-width: 768px) {
    .notice-processure-container{
        height: 60vh;
    }

    .notice-container-content1 h1{
        font-size: 30px;
    }


}