.container{
    max-width: 1400px;
    display: flex;
    overflow-x: hidden !important;
    /* border: 1px solid black; */
    flex-direction: column;
    margin: auto;

    padding-left: 30px;
    padding-right: 30px;
    
    /* justify-content: center; */
}

.vacancies-cantainer{
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    padding-left: 60px;
    padding-right: 60px;
}


.vacancies-filter-container-box{
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    
    /* align-items: center; */
    gap :20px;
    flex-direction: row;
    
   
}
.vacancies-filter-container{
     width: 500px;
     width: 30%;
     height: 500px;
    
     padding-top: 20px;
    
}

.vacancies-box-container{
    width: 1200px;
    width: 70%;
    gap: 40px;
    flex-direction: column;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
    /* border: 1px solid rgb(199, 29, 29); */
    
}

@media (max-width: 768px) {

    

    .vacancies-box-container{
        /* border: 1px solid black; */
        width: 100%;
        gap: 40px;
        display: flex;
        flex-direction: column;
        padding-left: 0%;
        padding-right: 0%;
        padding-top: 20px;
        padding-bottom: 20px;
        /* border: 1px solid rgb(199, 29, 29); */
        
    }

    .vacancies-filter-container{
        /* border: 1px solid black; */
        display: flex;
        width: 100%;
        height: 500px;
        flex-direction: column;
        padding-top: 20px;
        margin-bottom: 40px;
   }

   .vacancies-box-main-container{
    width: 100%;
   }


    
}



