/* Hide the default arrow */
/* select {
    appearance: none !important;
    -webkit-appearance: none !important;

    background-image: url('../public/images/arrow.png') !important;
    background-repeat: no-repeat !important;
    background-position: right 10px center !important;

    padding-right: 30px !important;

    font-size: 16px !important;

} */